issue example.txt
DECISIONS.md

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment
.env
.env.local

# IDEs
.vscode/
.idea/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
note4me.md
